.App {
    width: 60vw;
    margin: 40px auto;
    border-radius: 5px;
    border: 1px solid white;
    padding: 10px;
    background: white;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

h1 {
    text-transform: capitalize;
    color: rgb(40, 39, 49);
    font-weight: 400;
    margin: 5px;
}

@media screen and (max-width: 1200px) {
    .App {
        grid-template-columns: none;
        grid-template-rows: 1fr 3fr;
        padding: 5px;
        overflow: hidden;
    }
    h1{
        margin: 15px ;
    }

}
