<<<<<<< HEAD
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  color: rgb(10, 31, 54);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

button {
  display: inline-block;
  background: transparent;
  border: none;
  color: rgb(12, 146, 199);
  cursor: pointer;
}

ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(5, auto);
  column-gap: 2rem;
}

a {
  text-decoration: none;
  color: rgb(10, 31, 54);
  text-transform: capitalize;
  letter-spacing: 1px;
}

.App {
  min-height: 100vh;
  /* background: brown; */
  overflow-x: hidden;
}

.app-nav {
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
  /* background: rgb(154, 188, 189); */
  padding: .5em 1em;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 2rem;
  align-items: center;
}

.app-logo {
  /* background: rebeccapurple; */
  font-size: 5rem;
  /* padding: .1em .5em; */
  color: rgb(12, 146, 199);
}

.app-bars {
  display: none;
}

.app-links {
  justify-self: center;
  font-size: 1.2rem;
}

.app-social {
  margin-right: 1em;

}

.app-menu {
  opacity: 0;
  background: #fff;
  height: 0;
  width: 100%;
  /* position: absolute; */
  /* top: 20%; */
  display: grid;
  grid-template-columns: auto;
  row-gap: 1rem;
  font-size: 1.2rem;
  transition: all .3s ease-in-out;
  overflow: hidden;
  /* border: 1px solid saddlebrown; */
  box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
}

.menu-list {
  margin-left: 1em;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
}

@media screen and (max-width: 1100px) {
  ul {
    font-size: 1.1rem;
  }
  .app-nav {
    column-gap: 1rem;
  }
}

@media screen and (max-width: 980px){
  ul {
    display: none;

  }
  
  .app-logo {
    min-width: 100vw;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
  }
  .app-bars {
    /* background: royalblue; */
    display: inline-block;
    font-size: 3rem;
    justify-self: right;
    margin-right: 1em;
  
  }
  .app-menu {
    /* height: 0; */
    opacity: 1;
  }
}
=======
:root {
  --clr-dark-blue: #102a42;
  --clr-blue: #49a6e9;
  --clr-white: #fff;
  --light-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --primary-transition: all 0.3s linear;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.06em;
}

header {
  width: 100vw;
}

nav {
  display: flex;
  flex-direction: column;
  box-shadow: var(--dark-box-shadow);
  overflow: hidden;
}

.header-title {
  padding: 1em 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-size: 2rem;
}

span {
  color: var(--clr-blue);
}

button {
  border: none;
  background: var(--clr-blue);
  color: var(--clr-white);
  font-size: 1.1rem;
  cursor: pointer;
  padding: 0.3em 0.7em;
  border-radius: 5px;
}

.list {
  /* border: solid red; */
  height: 0;
  padding: 0.5em;
  transition: var(--primary-transition);
}

.show {
  height: 200px;
}

li {
  list-style-type: none;
  margin: 0.5em 0;
}

a {
  font-size: 1.2rem;
  color: var(--clr-dark-blue);
  text-decoration: none;
}

@media screen and (min-width: 600px) {
  nav {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .header-title {
    justify-content: center;
  }
  button {
    display: none;
  }

  .list {
    height: auto;
    display: flex;
    padding-right: 2em;
  }

  li {
    margin: 0 0.5em;
  }
  .show {
    height: auto;
  }
}
>>>>>>> f364450 (updated projects)
